body {
  padding: 0;
  margin: 0;
}
.container {
  width: 1140px;
  margin: auto;
}
.container-fluid {
  width: 95vw;
  margin: auto;
}
.header {
  height: 75vh;
  background-image: url(../../public/labour-manpower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
ul.header-menu-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
}
ul.header-menu-list li.header-menu-list-item {
  padding-left: 20px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
}
ul.header-menu-list li.header-menu-list-item a.header-menu-list-item-link {
  text-decoration: none;
  color: #000;
}
ul.header-menu-list
  li.header-menu-list-item
  a.header-menu-list-item-link:hover {
  color: #535353;
}
